.comments-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
    
}
.comments-container2{
    max-width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    max-width: 50rem;
    width: 100%;
    margin: 1rem auto; 
    padding: 20px;
    background-color: #212121;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;


    padding: 20px;
    background-color:#212121;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

.parent-container {
    display: flex;
    justify-content: center;
}

.regresar-btn-container {
    position: absolute;
    top: 10px;
    right: 20px;
    
}

.comments-go-back-btn {
    font-family: 'Roboto', sans-serif;
    background-color:#caf438;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    display: block;
    border: none;
    border-radius: 0.2px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 10px auto;
    position: relative;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background: #caf438;
    border-radius: 0.3rem;
    margin-bottom: 0.4rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
    
}

.comments-go-back-btn:hover {
    background-color: #001925;
    color: rgb(255, 255, 255);
    border: 1px solid #ff7a01;
}

.comments-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.comments-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #f1f1f1;
    text-center: left; 
    padding-left: 1rem;
    font-weight: bold;
    
}

.comments-start-area {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    background-color: #f1f1f1;
    text-align: center;
}

.comments-start-area:hover {
    background-color: #e8e8e8;
}

.comments-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments-input, .comments-textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.comments-submit-btn,
.comments-cancel-btn {
    background-color: #016DD9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.comments-submit-btn:hover,
.comments-cancel-btn:hover {
    background-color: #005bb5;
}

.comments-list {
    margin-top: 30px;
}

.comment-item {
    display: flex;
    flex-direction: column;
    background-color: #001925;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
    );
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
    );
    border-left: 10px solid #caf438;
}

.comment-username{
    font-size: 1rem;
    color: #ffffff;
    text-align: left; 
    padding-left: 1rem;
    font-weight: bold;
}
.comment-content{
    font-size: 1rem;
    color: #caf438;
    margin: 10px 0;
    text-align: left; 
    padding-left: 1rem;
    font-weight: bold;
}
.comment-date{
    font-size: 1rem;
    color: #cacaca;
    text-align: left; 
    padding-left: 1rem;
    font-weight: bold;
}

.comment-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;   
}

.comment-username {
    font-weight: bold;
    font-size: 20px;
}

.comment-date {
    font-size: 9px;
    color: #b8b8b8;
}

.comment-content {
    font-size: 17px;
}

.no-comments-message {
    text-align: center;
    font-size: 18px;
    color: #777;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.buttons-container button {
    width: 48%;
}

.comments-cancel-btn {
    font-family: 'Roboto', sans-serif;
    background-color:#caf438;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    display: block;
    border: none;
    border-radius: 0.2px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 10px auto;
    position: relative;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background: #caf438;
    border-radius: 0.3rem;
    margin-bottom: 0.4rem;
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
}
.comments-cancel-btn:hover{
    background-color: #001925;
    color: rgb(255, 255, 255);
    border: 1px solid #ff0000;
}

.comments-submit-btn:hover{
    background-color: #001925;
    color: rgb(255, 255, 255);
    border: 1px solid #caf438;
}

/* Estilo del botón publicar */
.comments-submit-btn {
    font-family: 'Roboto', sans-serif;
    background-color:#caf438;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    display: block;
    border: none;
    border-radius: 0.2px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 10px auto;
    position: relative;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background: #caf438;
    border-radius: 0.3rem;
    margin-bottom: 0.4rem;
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
    );
}

.error-message{
    font-size: 1rem;
    color: #b8b8b8;
}
