.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f8f8f8; 
    font-family: 'Roboto', sans-serif
  }
  
  .not-found-container h1 {
    font-size: 5rem;
    color: #ff3d3d; 
    margin: 0;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
    color: #666;
    margin: 20px 0;
    text-align: center;
  }
  
.not-found-button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #010d2c;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
  }
  
  .not-found-button:hover {
    animation: shake3856 0.3s linear infinite both;
    background-color: #001925;
    color:  #caf438;
    border: 4px solid  #caf438;
  }
  
  @keyframes shake3856 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
  
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
  
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
  
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
  
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
  